body, h1, h2, h3, h4, h5, h6, p, form, input, textarea, button, th, td, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe, img {
    border: 0;
    outline: none;
}

table {
    border-collapse: collapse;
    text-align: center;
    //border: 1px solid #000000;
}

th, td {
    //border: 1px solid #000000;
    padding: 10px;
}

body, textarea, select, input {
    color: #000000;
    font: 12px/1.7 'Microsoft Yahei', STHeiti;
}

body {
    width: 100%;
    min-width: 1090px;
    min-height: 500px;
    height: auto;
    position: relative;
    z-index: 1;
}

a, button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

ul, li {
    list-style: none;
}

.g-in {
    width: 1090px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}

::-ms-clear, ::-ms-reveal {
    display: none;
}

input {
    outline: none;
    border: 0;
}

::-webkit-input-placeholder {
    color: #aaa;
}

::-moz-placeholder {
    color: #aaa;
}

:-ms-input-placeholder {
    color: #aaa;
}

input:-moz-placeholder {
    color: #aaa;
}
